@{
    ViewData["Title"] = "The Project";
}
@model ProjectPackagesViewModel

<div>
    <h1 class="text-center pb-1">P A C K A G E S</h1>
    <h3 class="text-center pb-1">
        <a asp-controller="Project" asp-action="ProjectEntities" class="btn btn-success btn-lg">..:: Entities ::..</a>
        <a asp-controller="Project" asp-action="ProjectPackages" class="btn btn-secondary btn-lg disabled">..:: Packages ::..</a>
    </h3>

    <hr/>

    <h4>Packages we received</h4>
    <div class="container bg-light pt-2">
        <a asp-controller="PackageReceived" asp-action="PackageReceivedCreate" class="btn btn-outline-success btn-lg d-block">Create</a>

        <table class="table w-50">
            <thead>
            <tr>
                <th>Name</th>
                <th>Food List</th>
                <th>Date</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.PackagesReceived!)
            {
                var donorName = Model.Donors!.FirstOrDefault(d => d.Id == item.DonorId);
                <tr>
                    <td>
                        @if (donorName != null)
                        {
                            @donorName.Name.Name
                        }
                        else
                        {
                            <text>Unknown Donor</text>
                        }
                    </td>
                    <td>
                        @foreach (var foodId in item.FoodList)
                        {
                            var foodName = Model.Foods!.FirstOrDefault(f => f.Id == foodId)?.FoodName.Name;

                            if (foodName != null)
                            {
                                <span>@foodName </span>
                                <br/>
                            }
                        }
                    </td>
                    <td>@item.PackageCreation.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-controller="PackageReceived" asp-action="PackageReceivedUpdate" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <hr/>

    <h4>Packages we sent</h4>
    <div class="container bg-light pt-2">
        <a asp-controller="PackageSent" asp-action="PackageSentCreate" class="btn btn-outline-success btn-lg d-block">Create</a>
        <table class="table w-50">
            <thead>
            <tr>
                <th>Name</th>
                <th>Food List</th>
                <th>Date</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.PackagesSent!)
            {
                var receiverName = Model.Receivers!.FirstOrDefault(d => d.Id == item.ReceiverId);
                <tr>
                    <td>@receiverName!.Name.Name</td>
                    <td>
                        @foreach (var foodId in item.FoodList)
                        {
                            var foodName = Model.Foods!.FirstOrDefault(f => f.Id == foodId)?.FoodName.Name;

                            if (foodName != null)
                            {
                                <span>@foodName </span>
                                <br/>
                            }
                        }
                    </td>
                    <td>@item.PackageCreation.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-controller="PackageSent" asp-action="PackageSentUpdate" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <hr/>
</div>