@{
    ViewData["Title"] = "The Project";
}
@model ProjectEntitiesViewModel

<div>
    <h1 class="text-center pb-1">E N T I T I E S</h1>
    <h3 class="text-center pb-1">
        <a asp-controller="Project" asp-action="ProjectEntities" class="btn btn-secondary btn-lg disabled">..:: Entities ::..</a>
        <a asp-controller="Project" asp-action="ProjectPackages" class="btn btn-success btn-lg">..:: Packages ::..</a>
    </h3>

    <hr/>

    <h4>Donors</h4>
    <div class="container bg-light pt-2">
        <a asp-controller="Donor" asp-action="DonorCreate" class="btn btn-outline-success btn-lg d-block">Create</a>

        <table class="table w-50">
            <thead>
            <tr>
                <th>Name</th>
                <th>Is Company?</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Donors)
            {
                <tr>
                    <td>@item.Name.Name</td>
                    <td>@(item.IsCompany ? "Yes" : "No")</td>
                    <td>
                        <a asp-controller="Donor" asp-action="DonorUpdate" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <hr/>

    <h4>Receivers</h4>
    <div class="container bg-light pt-2">
        <a asp-controller="Receiver" asp-action="ReceiverCreate" class="btn btn-outline-success btn-lg d-block">Create</a>

        <table class="table w-50">
            <thead>
            <tr>
                <th>Name</th>
                <th>Is Company?</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Receivers)
            {
                <tr>
                    <td>@item.Name.Name</td>
                    <td>@(item.IsCompany ? "Yes" : "No")</td>
                    <td>
                        <a asp-controller="Receiver" asp-action="ReceiverUpdate" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <hr/>

    <h4>Food</h4>
    <div class="container bg-light pt-2">
        <a asp-controller="Food" asp-action="FoodCreate" class="btn btn-outline-success btn-lg d-block">Create</a>

        <table class="table w-75">
            <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Expiration Date</th>
                <th>Is Company?</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Foods)
            {
                <tr>
                    <td>@item.FoodName.Name</td>
                    <td>@item.State</td>
                    <td>@item.ExpirationDate.ToString("dd/MM/yyyy")</td>
                    <td>@(item.IsPerishable ? "Yes" : "No")</td>
                    <td>
                        <a asp-controller="Food" asp-action="FoodUpdate" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <hr/>
    </div>
</div>