@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Presentation.Models.PackageReceivedModels.PackageReceivedUpdateViewModels
<div>
    <h3 class="text-center pb-1">PACKAGE - R E C E I V E D - </h3>
    <hr/>

    <div class="container">
        <form asp-controller="PackageReceived" asp-action="PackageReceivedUpdated" method="post">
            <input type="hidden" name="Id" value="@Model.Package!.Id"/>
            <fieldset>
                <legend>Add/Edit Package Received</legend>
                <table class="table w-50">
                    <tr>
                        <td>
                            <label for="DonorId">Donor: </label>
                            <select id="DonorId" name="DonorId" class="form-control" required>
                                @if (Model.Donors != null)
                                {
                                    foreach (var option in Model.Donors)
                                    {
                                        if (Model.Package.DonorId == option.Id)
                                        {
                                            <option value="@option.Id" selected="selected">@option.Name.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@option.Id">@option.Name.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.Foods != null)
                            {
                                foreach (var option in Model.Foods)
                                {
                                    var isChecked = Model.Package.FoodList.Contains(option.Id);
                                    <input type="checkbox" id="@option.Id" name="SelectedFoods" value="@option.Id" @(isChecked ? "checked" : "")>
                                    <label for="@option.Id"> @option.FoodName.Name</label>
                                    <br>
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.AntiForgeryToken()
                            <input type="submit" value=" - S A V E - " class="btn btn-secondary" style="width: 100%;"/>
                            <a asp-controller="PackageReceived" asp-action="PackageReceivedDelete" asp-route-id="@Model.Package.Id" class="btn btn-danger mt-1" style="width: 100%;">
                                - D E L E T E -
                            </a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <hr/>
</div>